.env
/LLM_Models
/Data/Live
/Data/Local
/Data/MediaCache
/Data/TechInt/MediaCache
/READ_ONLY_OUTPUT
*READ_ONLY_OUTPUT*
/scripts/Neo4j/.neo4j_log
*log-*.txt
_gsdata_
__pycache__
*TEMP*
*.json
/Data/TechInt/MediaCache/*.png
.DS_Store
